:root {
  --black-25: #f4f4f4;
  --black-900: #191919;
  --black-800: #303030;
  --black-700: #474747;
  --black-200: #bababa;
  --black-300: #a3a3a3;
  --black-400: #8c8c8c;
  --purple-700: #6a0bff;
  --purple-500: #a66dff;
  --footer-background: #18003e;
  --color-white: #ffffff;
  --shadow: #6a6376;
  --hover-effect: #f8f8f8;
}
